body{
    background-color: black;
    font-family: 'Playfair Display', serif;
    color :gray;
}


  .nav{
      background-color: whitesmoke;
      padding: 20px 10px 20px 10px;
      text-align: justify; 
  }

  h1{
      background-color: beige;
      text-align: center;
  }

  .center{
      width: 40%;
      height: 40%;
      border-radius:50%;
      border: 5px double beige;
  }



  footer{
      background-color: bisque;
      padding: 20px 10px 20px 10px;
  }

  h2{
      text-align:left;
        margin-left:auto;
  }

  
  

  ul
  li{
    font-size: 14px;
    list-style-type: none;
   padding: 5px;
  }

  div .flex-container{
      border: 5px solid beige;
       justify-content: flex-end; 
  }

h4{
    margin-left: auto;
} 





div .container-fluid{
    background-color: bisque;
    padding: 20px 10px 20px 10px;
    margin: 300px;
    
}



iframe{
    border: 3px solid purple;
    border-radius: 8px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

figcaption{
    text-align: center;
    font-size: x-large;

}


img{
    border-radius: 8px;
    border: 5px solid purple;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

h5.card-title{
    font-size:x-large;
    text-align: center;
}

a{
    margin: 15%;
    text-align: center;
    color: red;
 
    

}


p{
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.fwcansCoM7HILX28p9yqxwHaE9%26pid%3DApi&f=1);
    color:black;
}


header{
    text-align: center;
    font-size:xx-large;
}






