body{
    background-image: url(https://th.bing.com/th/id/OIP.XA05CZ4uoZQr8Y-AzGXO3gHaE8?w=268&h=180&c=7&r=0&o=5&dpr=1.15&pid=1.7);
    font-family: 'Playfair Display', serif;
    color :white;
}


  a{
    display:block;
    color:white;
    text-align: center;
  }
     

  h1{
      background-color: black;
      text-align: center;
  }

  .center{
      width: 40%;
      height: 40%;
      border-radius:50%;
      border: 5px double purple;
  }



  footer{
      background-color: pink;
      padding: 20px 10px 20px 10px;
  }

  h2{
      text-align:left;
        margin-left:auto;
  }

  
  

  ul
  li{
    font-size: 14px;
    list-style-type: none;
   padding: 5px;
  }

  div .flex-container{
      border: 5px solid beige;
       justify-content: flex-end; 
  }

h4{
    margin-left: auto;
} 





div .container-fluid{
    background-color: bisque;
    padding: 20px 10px 20px 10px;
    margin: 300px;
    
}



iframe{
    border: 3px solid purple;
    border-radius: 8px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

figcaption{
    text-align: center;
    font-size: x-large;

}


img{
    border-radius: 8px;
    border: 5px solid purple;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

h5.card-title{
    font-size:x-large;
    text-align: center;
}




p{
    color:whitesmoke;
}


header{
    text-align: center;
    font-size:xx-large;
}


label{
   display: block;
   margin-left: auto;
   text-align:center
}



